.ela_button{
  border: none;
  min-height: 40px;
  padding: 0 25px;
  text-align: center;
  vertical-align: middle;
  background: #009bba;
  color: #ffffff;
  font-size: 16px;
}

.box{
  background: #eee;
  padding: 10px 25px;
  margin-top: 30px;
  text-align: left;
}
.ela_text{
  min-height: 40px;
  font-size: 14px;
  padding-left: 5px;
  vertical-align: middle;
}

hr{
  margin: 10px 0;
}

button{
  padding: 5px 8px;
}
