*{
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}
body{
  background: #eee;
  width: 100vw;
  height: 100vh;
}

/* common class */
.h-center{
  text-align: center;
}
.v-center{

}
.center{

}
